html {
	height: 100%;
	position: relative;
	min-height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	color: #777777;
	background-color: #ffffff;
	min-height: 100%;
	background-image: url("../images/cork-wallet.png");
}

section .nav{
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.pooop {
	position: relative;
	float: left;
 	margin: 20px 10px 25px 25px;
 	width: 250px;
}

.nav {
	position: static;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	border-bottom: #cccccc;
	border-bottom-style: solid;
	height: 73px;
}

.navheading {
	float: left;
	position: absolute;
	left: 152.5px;
	width: 250px;
	height: 70px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

#none {
	text-decoration: none;
}

h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 19.920px 0px;
}

.navlist {
	float: right;
	list-style-type: none;
	padding: 20px 5px 20px 5px;
	color: #777777;
	margin:0px;
	position: relative;
	right: 152.5px;
	width: 260px;
	text-align: center;
}

li {
	margin: 0px 15px;
	float: left;
}

.wrapper {
	max-width: 960px;
	margin: 10px auto;
	clear: both;
	line-height: 210%;
}

#main-container {
	padding-top: 30px;
}

.aboutme {
	float: left;
	padding: 30px;
	margin: 0px 0px 30px 0px;
	border: #dddddd;
	border-style: solid;
	width: 100%;
	max-width: 650px;
	background-color: #ffffff;
}

.sidebar {
	float: right;
	background-color: white;
	text-align: center;
	padding: 30px;
	border: #dddddd;
	border-style: solid;
	width: 100%;
	max-width: 270px;
}

h2 { 
	color: #4aaaa5;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	padding: 0px 0px 10px 0px;
	margin: 15px 0px;
	border-width: 3px;
	font-size: 24px;
 }

 h3 {
 	color: #4aaaa5;
 	border-bottom-color: #dddddd;
 	border-bottom-style: solid;
 	padding: 0px 0px 10px 0px;
 	margin: 15px 0px;
 	border-width: 3px;
 	font-size: 18px; 
 }

 #adammontreal {
 	float: left;
 	padding: 0px 20px 10px 0px;
 	width: 200px;
 }

.div-image {
	position: relative;
	float: left;
 	margin: 20px 10px 25px 25px;
 	width: 250px;
}

.div-image:nth-child(even) {
	margin-right: 10px;

}

.div-image img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}

/*adding a comment here*/
.text-in-image {
	visibility: hidden;
	position: absolute;
	width: 250px;
	margin: 150px 0px;
	padding: 5px 0px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: monospace;
}


#pic-size {
	float: left;
	width: 250px;
 	height: 200px;
}

.name {
	width: 100%;
	padding: 5px 0px 5px 5px;
	
}

.email {
	width: 100%;
	padding: 5px 0px 5px 5px;
}

.message {
	width: 100%;
	height: 200px;
	border-color: #cccccc;
}

.submit {
	width: 100px;
	padding: 10px 0px;
	margin: 5px 0px;
	font-size: 16px;
}

 .iconpics {
 	padding: 2px 5px 2px 5px;
 	width: 50px;
 	align-items: center;
}

 a {
 	color: inherit;
}

 .push {
 	clear: both;
 	height: 16px;
}

.footer {
	width: 100%;
	clear: both;
	color: #777777;
	padding: 10px 0px 10px 0px;
	border-top: #4aaaa5;
	border-top-style: solid;
	border-top-width: thick;
	background-color: #666666;
	text-align: center;
}


 @media screen and (max-width: 980px)
{

.nav {
	position: static;
	width: 100%;
	margin: 0px;
	padding: 0px;

	background-color: #ffffff;
	border-bottom: #cccccc;
	border-bottom-style: solid;
	height: 73px;
}

.navheading {
	float: left;
	position: absolute;
	left: 115px;
	width: 250px;
	height: 70px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

#none {
	text-decoration: none;
}

h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 19.920px 0px;
}

.navlist {
	float: right;
	list-style-type: none;
	padding: 20px 5px 20px 5px;
	color: #777777;
	margin:0px;
	position: absolute;
	right: 100px;
	width: 260px;
	text-align: center;
}

li {
	margin: 0px 15px;
	float: left;
}

.wrapper {
	max-width: 740px;
	clear: both;
	line-height: 210%;
}

.aboutme {
	float: left;
	padding: 30px;
	margin: 0px 0px 30px 0px;
	border: #dddddd;
	border-style: solid;
	width: 100%;
	max-width: 480px;
	background-color: white;
}

#adammontreal {
 	float: left;
 	padding: 0px;
 	margin: 0px;
 	width: 100%;
 }

.sidebar {
	float: right;
	background-color: white;
	text-align: center;
	padding: 30px;
	border: #dddddd;
	border-style: solid;
	width: 100%;
	max-width: 230px;
}

.div-image {
	float: left;
 	margin: 10px 25px 35px 0px;
 	width: 400px;
 	height: 250px;
}

.text-in-image {
	visibility: hidden;
}

.text-in-image {
	position: absolute;
	width: 400px;
	margin: 200px 0px;
	padding: 5px 0px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
}

#pic-size {
	float: left;
	width: 400px;
 	height: 250px;
}

.name, .email, .message {
	width: 100%;
}

.submit {
	background-color: #4aaaa5;
	color: #ffffff; 
}

}


@media screen and (max-width: 768px)
{

body {
	margin: 0px;
	padding: 0px;
}

header {
	position: static;
	width: 100%;
}

.nav {
	position: static;
	width: 100%;
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 73px;
	padding: 0px;
	margin: 0px;
}

.navheading {
	position: static;
	margin-left: 25px;

}

.navlist{
	position: static;
	float: right;
}

ul {
	width: 768px;
}

li {
	
}

.wrapper {
	max-width: 750px;
	margin: 0px;
	padding: 0px;
}

.aboutme {
	width: 100%;
	margin: 15px 25px;
	padding: 30px;
	max-width: 700px;
}

#adammontreal {
	width: 50%;
	padding: 0px;
	margin: 0px 15px 10px 0px;
}

.div-image {
	float: left;
 	margin: 0px 8px 25px 0px;
 	width: auto;
 	height: 210px;
}

.text-in-image {
	position: relative;
	width: auto;
	bottom: 50px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
}

#pic-size {
	float: left;
	width: 300px;
 	height: 200px;
}	


h2 {
	width: 100%;
	color: #4aaaa5;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	padding: 0px 0px 10px 0px;
	margin: 15px 0px;
	border-width: 3px;
	font-size: 24px;

}

.sidebar {
	float: left;
	width: 100%;
	max-width: 700px;
	margin: 5px 25px;
	padding: 10px 0px 10px 30px;
}

h3 {
	text-align: left;
	margin-right: 33px;
}

.iconpics {
	float: left;
	padding-bottom: 25px;
}

.name, .email, .message {
	width: 100%;
}

.submit {
	background-color: #4aaaa5;
	color: #ffffff; 
}

}


@media screen and (max-width: 640px)
{
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

header {
	position: static;
	width: 100%;
}

h1 {
	position: static;
}

.nav {
	width: 100%;
	max-width: 640px;
	position: static;
	height: 140px;
	padding: 0px;
	margin: 0px;
}

.navheading {
	width: 100%;
	max-width: 640px;
	margin: 0px;
	position: static;
}

.navlist{
	width: 100%;
	max-width: 640px;
	position: static;
	clear: both;
}

ul {
	width: 100%;
	position: static;
}

li {
	width: 32.5%;
	padding: 10px 0px;
	margin: 0px;
	border-right: #cccccc;
	border-style: solid;
}

ul:last-child {
	border: none;
}

.wrapper {
	max-width: 625px;
	margin: 0px;
	padding: 0px;
}

.aboutme {
	width: 100%;
	max-width: 585px;
	margin: 0px 15px;
	padding: 10px 15px 25px 20px;
}

.div-image {
	position: relative;
	width: 100%;
	height: 100%;
}

#pic-size {
	width: 100%;
	height: 400px;
}

.text-in-image {
	width: 100%;
	margin: 0px;
	position: absolute;
	bottom: 10px;
}

.name, .email, .message {
	width: 100%;
}

.submit {
	background-color: #4aaaa5;
	color: #ffffff; 
}

#adammontreal {
	clear: both;
	padding: 0px 20px 10px 0px;
	width: 100%;
}

.sidebar {
	float: left;
	width: 100%;
	max-width: 585px;
	margin: 5px 15px;
	padding: 10px 15px 25px 20px;
}

h3 {
	text-align: left;
	margin-right: 33px;
}

.iconpics {
	float: left;
	padding-bottom: 25px;
}

.footer {
	position: static;
	width: 100%;
}

}

 @media screen and (max-width: 480px)
{
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

section {
	position: static;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

header {
	position: static;
	width: 100%;
}

h1 {
	position: static;
}

.nav {
	position: static;
	width: 100%;
	height: 140px;
	padding: 0px;
	margin: 0px;
}

.navheading {
	width: 100%;
	margin: 0px;
	position: static;
}

.navlist{
	width: 100%;
	position: static;
	clear: both;
}

ul {
	width: 100%;
	position: static;
}

li {
	width: 32.5%;
	padding: 10px 0px;
	margin: 0px;
	border-right: #cccccc;
	border-style: solid;
}

/*ul:last-child {
	border: none;
}*/

.wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.aboutme {
	width: 100%;
	max-width: 440px;
	margin: 0px 10px;
	padding: 10px 35px 25px 35px;
}

#adammontreal {
	clear:both;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.div-image {
	position: relative;
	width: 100%;
	height: 100%;
}

#pic-size {
	width: 100%;
	height: 400px;
}

.text-in-image {
	width: 100%;
	margin: 0px;
	position: absolute;
	bottom: 10px;
}

.name, .email, .message {
	width: 100%;
}

.submit {
	background-color: #4aaaa5;
	color: #ffffff; 
}

#adammontreal {
	clear: both;
	padding: 0px 20px 10px 0px;
	width: 100%;
}

.sidebar {
	float: left;
	width: 100%;
	max-width: 440px;
	margin: 5px 10px;
	padding: 10px 24px 10px 30px;
}

h3 {
	text-align: left;
	margin-right: 33px;
}

.iconpics {
	float: left;
	padding-bottom: 25px;
}

.footer {
	position: static;
	width: 112%;
}

} 